.about {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    animation: In .3s ease-in-out forwards;
}

// アニメーションを追加する
@keyframes In {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}