.emo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
    color: 333;
    font-family: Noto Sans JP, sans-serif;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    .title {
        font-size: 2rem;
        color: 333;
        text-align: start;
        margin: 1rem;

        .titleSpan {
            font-size: 2.5rem;
            color: var(--dc-primary-sb);
        }
    }

    .kaomoji {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .dcChan {
        width: 200%;
        height: auto;
        max-height: 100vh;
        object-fit: contain;
        position: relative;
        top: 0;
        // transform: scale(2.5);
        animation: fadeIn 1s ease-in-out forwards;
    }
}

@media (max-width: 768px) {
    .emo {

        .detail {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            .title {
                font-size: 1rem;
            }
    
            .kaomoji {
                font-size: 1rem;
                margin-top: 3rem;
                text-align: start;
            }
        }

        .dcChan {
            width: 150%;
        }
    }
}

@media (max-width: 480px) {
    .emo {
        .title {
            font-size: 1.2rem;
        }

        .kaomoji {
            font-size: 1rem;
        }

        .dcChan {
            width: 200%;
            top: 10%;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}