:root {
    --dc-primary-sb: #06C0FF;
    --dc-primary-b: #0070D9;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--dc-primary-sb);
    background-image: linear-gradient(147deg, var(--dc-primary-sb) 0%, var(--dc-primary-b) 74%);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}