.menu {
  --col-dark: #0c0f14;
  --col-darkGray: #52555a;
  --col-gray: #aeaeae;

  background-color: var(--col-dark);
  border-radius: 1rem;
}

.label {
  padding: 8px 18px;
  transition: all 200ms;
  display: inline-block;
  cursor: pointer;

  & input[type="radio"] {
    display: none;
  }

  & > svg {
    transition: all 200ms;
    fill: var(--col-gray);
    width: 1rem;
  }

  &:hover:not(.selected) > svg {
    fill: var(--dc-primary-b);
    opacity: 0.6;
  }

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    top: 20px;
    background: var(--dc-primary-sb);
    transition: all 200ms;
  }

  &.selected::before {
    width: 100%;
    left: 0;
    top: 25px;
  }
}

.selected > svg {
  fill: var(--dc-primary-sb);
  transform: scale(1.2);
  margin-top: -5px;
}

.label > .dcicon {
  fill: var(--col-gray);
  width: 25px;
}
