.music { 
  min-width: 250px;
}

.player {
    height: auto;
    background-color: whitesmoke;
    color: #080747;
    padding: 2rem;
    border-radius: 20px;
  }
  
  .player .img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 1rem;
  }

  .player .controls {
    display: flex;
    justify-content: space-around;
  }
  
  .info p {
    opacity: 0.68;
    font-size: 19px;
  }
  
  .infoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .player h1 {
    font-size: 1.5rem;
    padding-bottom: 7px;
  }
  
  
  .controls {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .track {
    padding-top: 28px;
   position: relative;
  
  }
  
  .track::before {
    content: '';
    height: 6px;
    width: 100%;
    display: block;
    background: #080747;
    opacity: 0.3;
    border-radius: 10px;
    position: absolute;
  }
  
  .track::after { 
    content: '';
    height: 6px;
    width: 85%;
    display: block;
    background: #080747;
    border-radius: 10px;
  
  
  }
  
  .time {
    opacity: 0.7;
    font-size: 14px;
  
    display: flex;
    justify-content: space-between;
    padding-top: 9.6px;
  }
  
  @media (max-width: 480px) {
    .music {
      transform: scale(.8);
    }
  }