// .profile { grid-area: 2 / 2 / 3 / 3; }

  .h2{
    pointer-events:none;
    transition: all 0.3s ease;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .card {
      position: relative;
      width: 500px;
      height: 200px;
      background-color: #fff;
      overflow: hidden;
      margin-bottom: 4px;
  
      &:before {
        content: "";
        z-index: 99;
        position: absolute;
        top: -10px;
        left: 32px;
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background-color: #2b26c3;
      }
      &:after {
        content: "";
        z-index: 99;
        position: absolute;
        bottom: -10px;
        left: 32px;
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background-color: #E6E5E1;
      }
      .ul {
        z-index: 99;
        position: absolute;
        left: 39px;
        top: 5px;
        list-style-type: none;
        .li {
          width: 2px;
          height: 2px;
          border-radius: 2px;
          margin: 6px 0;
          background-color: #E6E5E1;
        }
      }
      .h2 {
        z-index: 99;
        font-family: "Poppins", sans-serif;
        position: absolute;
        bottom: 0;
        right: 130px;
        font-size: 60px;
        font-weight: 700;
        color: #fff;
      }
  
      .p {
        z-index: 99;
        position: absolute;
        top: 20px;
        right: 10px;
        color: #333;
        opacity: 0.7;
        font-size: 12px;
        letter-spacing: 1px;
        writing-mode: vertical-lr;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      .pic {
        z-index: 100;
        width: 400px;
        height: 200px;
        background-size: 100% 100%;
        filter: grayscale(100%);

        .profileImg {
            transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
            height: auto;
        }
      }
  
      .logo {
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        width: 255px;
        height: 55px;
        border-radius: 80px;
        overflow: hidden;

        .logoImg {
            transform: translateY(100%);
            transition: all 0.4s ease;
            transition-delay: 0.4s;
        }
      }
  
      .logo i:nth-of-type(1) {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
      }

      &:hover .logoImg {
        transform: translateY(0);
      }
  
      .span {
        position: absolute;
        right: 14px;
        bottom: 14px;
        width: 30px;
        height: 30px;
        background-color: #DA4D1D;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        outline:none;
        transition: all 0.3s ease;
        mix-blend-mode: hard-light;
  
        .i {
          font-size: 3rem;
        }
      }
  
      &:hover .span {
        transform: scale(16.5);
      }

      &:hover .h2 {
        font-size: 70px;
      }
  
      &:hover .p {
        color: #fff;
      }
      
      &:hover .pic {
        filter: grayscale(0);
        
        .profileImg {
          transform: scale(2);
        }
      }
    }
  }
  
  .dr {
    position: absolute;
      bottom: 16px; 
      right: 16px;
      width:100px;
    }